extends layout
include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= locations.title
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        +outputRatings(3)
                    p= locations.address
                    .card.card-primary
                        .card-block
                            h2.card-title= locations.cardtitle[0]
                            each openingTime in locations.openingTimes
                                p.card-text= openingTime.days
                                - if (!openingTime.closed) 
                                    p.card-text= openingTime.opening + " - " + openingTime.closing 
                                - else
                                    p.card-text= openingTime.text
                    .card.card-primary
                        .card-block
                            h2.card-title= locations.cardtitle[1]
                            each facility in locations.facilities
                                span.badge.badge-warning
                                    i.fa.fa-check
                                    |  &nbsp;#{facility}

                .col-12.col-md-6.location-map
                    .card.card-primary
                        .card-block
                            h2.card-title= locations.cardtitle[2]
                            img.img-fluid.rounded(src=`http://maps.googleapis.com/maps/api/staticmap?center=${locations.coords.lat},${locations.coords.lng}&zoom=17&size=400x350&sensor=false&markers=${locations.coords.lat},${locations.coords.lng}&scale=2&key=https://developers.google.com/maps/documentation/javascript/get-api-key?utm_source=geoblog&utm_medium=social&utm_campaign=2016-geo-na-website-gmedia-blogs-us-blogPost&utm_content=TBC`)


            .row
                .col-12
                    .card.card-primary.review-card
                        .card-block
                            a.btn.btn-primary.float-right(href='/location/review/new') Add review
                            h2.card-title= locations.cardtitle[3]
                            each reviewer in reviews
                                .row.review
                                    .col-12.no-gutters.review-header
                                        span.rating
                                            +outputRatings(reviewer.rating)
                                        span.review #{reviewer.name}
                                        small.review #{reviewer.reviewDate}
                                    .col-12
                                        p #{reviewer.reviewMessage} 
        .col-12.col-lg-3
            p.lead= sidebar.content 
            p= sidebar.contentReview                  